/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.08.2018, 10:25:47
    Author     : Andrej.Schefer
*/


h1{
    font-size: 18px; 
}

h2{
    font-size: 16px; 
}

.wrapper{
    width: 1024px;
    margin: 0 auto;
    padding: 20px
}
.block{
    border: 1px solid #aeaeae;
    margin-bottom:  10px;
}

.block .block_inner{
    padding: 10px;
}

.block h1{
    border-bottom: 1px solid #aeaeae;
    padding: 10px;
}

.block table{
    display: none
}

textarea.text{
    height: 300px
}

canvas{
    width: 800px
}

.status .state {
    margin: 10px;
    border: 1px solid #c9c9c9;
    padding: 10px;
    background: #aeaeae;
    color: #555
}

.status  .learn {
    background: greenyellow;
    color: #fff;
    font-weight: bold;
}

.status .learncomplete {
    background: rgb(254,66,89);
    color: #fff;
}