/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.08.2018, 10:25:47
    Author     : Andrej.Schefer
*/

body{
    background: #eee
}

h1{
    font-size: 18px; 
}

a.link {
    color: #444;
    display: inline-block;
    margin-bottom: 10px;
}

h2{
    font-size: 16px; 
}

.header {
    background: #4BA4D9;
    text-align: center;
    padding: 13px;
    color: #fff;
    font-size: 36px;
    border-bottom: 4px solid #fff;
}

.header span {
    font-size: 20px;
}
.wrapper{
    width: 1024px;
    margin: 0 auto;
    padding: 20px
}
.block{
    background: #fff;
    border: 1px solid #aeaeae;
    margin-bottom:  10px;
}



.block .block_inner{
    padding: 0px;
}

.form .block_inner {
    padding: 23px;
}

.block > h1 {
    padding: 10px;
    background: #68C1F6;
    color: #fff
}

.block table{
    display: block
}

textarea.text{
    height: 300px
}

canvas{
    width: 800px
}

.status .state {
    margin: 10px;
    border: 1px solid #c9c9c9;
    padding: 10px;
    color: #555
}


.status .state table{
    display: none
}

.status  .learn {
    background: greenyellow;
    color: #fff;
    font-weight: bold;
}

.status .learncomplete {
    background: rgb(254,66,89);
    color: #fff;
}